<ion-header>
  <ion-navbar>
    <ion-title>
      Galapro Test Client
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <input [(ngModel)]="clURL">
    </ion-row>
    <ion-row>
      <ion-label color="danger" *ngIf="errorNoURL">Input error, invalid URL</ion-label>
    </ion-row>
    <ion-row>
      <ion-label color="danger" *ngIf="errorNoRedir">Input error, invalid redirect URL</ion-label>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-checkbox [(ngModel)]="clRedirect"></ion-checkbox>
        <ion-label>Redirect</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <button (click)="submitClick($event)" ion-button>Submit</button>
    </ion-row>
  </ion-grid>

</ion-content>
